<div class="container">
    {% include "html/header.html" %}
    <h1>Регистрация</h1>
    <p>Заполните форму для регистрации</p>

    <form action="" method="post">
        {% csrf_token %}
        Имя: {{register_form.full_name}}
        <br>
        Номер телефона: {{register_form.phone}}
        <br>
        email: {{register_form.email}}
        <br>
        Логин: {{register_form.login}}
        <br>
        Пароль: {{register_form.password}}
        <br>
        Повторите пароль: {{register_form.password_repeat}}
        <br>
        Адрес: {{register_form.address}}
        <br>

        
        {% if error %}
            {{error}}
        {% endif %}
        <br>
        <input type="submit" class="registerbtn" id = "register_btn" name = "mybtn"></input>
    </form>
    <br>
    {%if Message %}
        {{Message}}
    {% endif %}
    <br>
</div>