<head>
    
</head>
<div class="container">
    {% include "html/header.html" %}
    <h1>Сделать заказ предмета</h1>

        <form method="get">
            <p>Имя предмета: {{filter.form.item_name}}</p>
            <input type="submit">
        </form>

        {% for obj in filter.qs %}
            <li>Имя предмета: {{obj.item_name}}</li>
            
        {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        Наименования товаров: {{create_order.items}}
        <br>
        Тип доставки: {{create_order.delivery_type}}
        <br>
        Пункты выдачи заказа: {{create_order.pick_up_points}}

        {% if error %}
            {{error}}
        {% endif %}
        {% if id %}
            <p>Номер заказа {{id}}</p>
            <p>Заказ создан</p>
            <br>
        {% endif %}
        {%if status %}
            {{status}}
        {%endif%}
        <br>
        <input type="submit"></input>
    </form>
    

    <button>
        <a href="../my_orders">
            Мои заказы
        </a>
    </button>
    <br>

    

</div>