<head>
    
</head>
<div class="container">
    {% include "html/header.html" %}
    
    {% if order %}
    <a> Информация о заказе</a>
        <li>Номер заказа: {{order.id_order}}</li>
        <li>Сумма заказа: {{order.order_sum}}</li>
        <li>Статус заказа:{{order.order_status}}</li>
        {%if pick_point%}
        <li>Пункт выдачи заказа: '{{pick_point}}'</li>
            <br>
        {%endif%}

        {%if courier%}
        <li>Номер курьера: '{{courier}}'</li>
            <br>
            <button>
                <a href="../leave_comment_courier?id_order={{order.id_order|urlencode}}">
                    Оставить отзыв о курьере
                </a>
            </button>
            <br>
        {%endif%}

        <br>
        {% if items %}
            <li>Предметы в заказе:</li>
            {% for item in items %}
                <p>{{item}}</p>
                <button>
                    <a href = "../leave_item_comment?item_name={{item.name|urlencode}}&id_order={{order.id_order|urlencode}}">Оставить отзыв о предмете</a>
                </button>
                <hr>
            {% endfor %}
        {% endif %}
    {% endif %}
    <br>
    <button>
        <a href="../my_orders">
            Мои заказы
        </a>
    </button>

</div>