<head>
    
</head>

<body>
    <div>
    {% include "html/header.html" %}

    <h2>Оставьте комментарий для предмета {{item.name}}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {% if comment_item_form %}
            Оценка: {{ comment_item_form.rating }}
            <br>
            Комментарий: {{ comment_item_form.comment }}
            <br>
        {% endif %}
        <input type="submit"></input>
    </form>

    {% if done %}
        {{done}}
    {% endif %}
    <button>
        <a href="../my_orders">
            Мои заказы
        </a>
    </button>
</div>
</body>