<body>
    <div>
    {% include "html/header.html" %}

    <h2>Оставьте комментарий для курьера {{item.name}}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {% if leave_comment_courier %}
            Оценка: {{ leave_comment_courier.rating }}
            <br>
            Комментарий: {{ leave_comment_courier.text }}
            <br>
        {% endif %}

        {%if status%}
            {{status}}
        {%endif%}
        <br>

        <input type="submit"></input>
    </form>

    {% if done %}
        {{done}}
    {% endif %}
    <br>
    <button>
        <a href="../my_orders">
            Мои заказы
        </a>
    </button>
</div>
</body>