<head>
</head>

<div class="container">
    {% include "html/header.html" %}
    <h1>Вход в аккаунт</h1>
    <a>Пожалуйста, заполните форму для входа в аккаунт</a>

    <form action="" method="post">
        {% csrf_token %}
        Логин: {{login_form.login}}
        <br>
        Пароль: {{login_form.password}}
        <br>
        {% if error %}
            {{error}}
        {% endif %}
        <input type="submit"></input>
    </form>

    <button><a href="../change_password">Сменить пароль</a></button>
    <button><a href="../register">Регистрация</a></button>
    <button><a href="../admin">Администрация</a></button>


</div>