<head>
</head>

<body>
    {% include "html/header.html" %}
    <div>

    <p> Поиск: </p>
    <!-- <form action="" method="post">
        {% csrf_token %}
        {{SearchFormItems.as_p}}
        <input type="submit"></input>
    </form> -->

    <form method="get">
        <p>Номер заказа: {{ filter.form.id_order }}</p>
        <p>Сумма заказа больше: {{ filter.form.order_sum__gt }}</p>
        <p>Сумма заказа меньше: {{ filter.form.order_sum__lt }}</p>
        <p>Дата заказа больше: {{ filter.form.order_datetime__gt }}</p>
        <p>Дата заказа меньше: {{ filter.form.order_datetime__lt }}</p>
        <input type="submit" />
    </form>
    <h3>Заказы предметов:</h3>
    {% for obj in filter.qs %}
        {% if obj.services_type == Null%}
            <li>Дата заказа: {{obj.order_datetime}}</li>
            <li>Номер заказа: {{obj.id_order}}</li>
            <li>Сумма заказа: {{obj.order_sum}}</li>
            

            {%if order.order_status == 0 %}
                <p>Заказ обрабатывается</p>
            {% elif obj.order_status == 1 %}
                <p>Заказ в пути</p>
            {%else%}
                <p>Доставлен</p>
            {% endif %}   
            
            <button>
                <a href="../get_order?id_order={{obj.id_order|urlencode}}">Информация</a>
            </button>
            
            <button>
                <a href="../delete_order?id_order={{obj.id_order|urlencode}}">Удалить заказ</a>
            </button>
            <hr>
        {%endif%}
    {% endfor %}

    <h3>Заказы услуг:</h3>
    {% for obj in filter.qs %}
        {% if obj.services_type != Null%}
            <li>Дата заказа: {{obj.order_datetime}}</li>
            <li>Номер заказа: {{obj.id_order}}</li>
            <li>Номер мастера: {{obj.master_id}}</li>
            <li>Сумма заказа: {{obj.order_sum}}</li>
            <li>Тип услуги: {{ obj.services_type }}</li>
            
            {%if obj.order_status == 0 %}
                <p>Заказ обрабатывается</p>
            {% elif obj.order_status == 1 %}
                <p>Мастер в пути</p>
            {%else%}
                <p>Заказ выполнен</p>
            {% endif %}

            <button>
                <a href = "../leave_master_comment?id_order={{obj.id_order|urlencode}}">Оставить комментарий</a>
            </button>

            <button>
                <a href="../delete_order?id_order={{obj.id_order|urlencode}}">Удалить заказ</a>
            </button>

            <hr>
        {%endif%}
    {% endfor %}

    </div>
</body>