
<head>
</head>

<body>

    <div class="container">
        {% include "html/header.html" %}
        <ol class="a">
            <li>
                <b>Имя </b>{{client.full_name}}
            </li>
            <li>
                <b>Номер телефона </b>{{client.phone_number}}
            </li>
            <li>
                <b>Email </b>{{client.client_email}}
            </li>
            <li>
                <b>Адрес </b>{{client.address}}
            </li>
        </ol>
    </div>

    <div>
        <button>
            <a href="../create_order">
                Сделать заказ предметов
            </a>
        </button>   
        <br>

        <button>
            <a href="../make_order_service?service_type={{1|urlencode}}&builderstatus={{0|urlencode}}">
                Сделать заказ услуг
            </a>
        </button>
        <br>

        <button>
            <a href="../my_orders">
                Мои заказы
            </a>
        </button>
        <br>
        <button>
            <a href="../tech_supp">
                Техническая поддержка
            </a>
        </button>
        <br>
        <button>
            <a href="../logout">
                Выйти из аккаунта
            </a>
        </button>
        <br>

        <button>
            <a href="../admin">
                Администрация
            </a>
        </button>
        <br>
    </div>
</body>